body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "volkart";
}

#banner {
  height: 200px;
  width: 100%;
  background-color: #1fc8db;
  background-image: linear-gradient(141deg, #1E5A94 0%, #20767B 51%,#22965E 75%);
  color: white;
  opacity: 0.95;
  padding-top: 25px;
}
